<?xml version="1.0" encoding="UTF-8"?>
<suite name="Smoke Suite" parallel="tests" thread-count="4">

   
   <listeners>
   
   <listener class-name="com.pulse.Test.MyTransformer"/>
    <listener class-name="generic.ExtentReporttListener"/>
   </listeners>

 
    <test name="ExtentWithParallelClasses">
         <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.pulse.Test.ValidLogin" />
     
        
        </classes>
    </test>
    
    
    
 
   
   
   
   
</suite>